/* ------------------------------------------------ TELA POLÍTICA DE PRIVACIDADE ---------------------------------------------------------- */

/* 
 * Politics Banner Section
*/

body {
    line-height: 1.9;
    /* 1.9 é um valor relativo */
}


#politics-banner-section {
    /* Background image com efeito de escurecer e alinhamento */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/tela-politicas-de-privacidade/img-politica-banner.png');
    background-position: center;
    background-size: cover;

    /* Largura e altura */
    width: 100%;
    height: 500px;
}

#politics-banner-section h1 {
    /* Cor do título de Serviços */
    color: var(--semibranco);
}

.politic-text {
    font-size: 18px !important;
}

.politic-title {
    font-size: 30px !important;
}

/* 
 * @media Sections - Politics Banner Section
*/

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    /* Diminuindo a altura da seção de banner */
    #politics-banner-section {
        height: 400px;
    }

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Diminuindo o font size do título de Serviços da seção de banner */
    #politics-banner-section h1 {
        font-size: 27px !important;
    }

    /* Diminuindo a altura da seção de banner */
    #politics-banner-section {
        height: 350px;
    }

}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Diminuindo o font size do título de Serviços da seção de banner */
    #politics-banner-section h1 {
        font-size: 36px;
    }

    /* Diminuindo a altura da seção de banner */
    #politics-banner-section {
        height: 300px;
    }

}

/* Custom @media */
@media (max-width: 399.98px) {

    /* Diminuindo o font size do título de Serviços da seção de banner */
    #politics-banner-section h1 {
        font-size: 32px;
    }

    /* Diminuindo a altura da seção de banner */
    #politics-banner-section {
        height: 250px;
    }

}

/* 
 * Services Content Section
*/

#politics-content-section {
    /* Background color da seção do conteúdo do Serviços */
    background-color: var(--branco-preto);

    /* Espaçamento interno de 200px top e bottom*/
    padding: 200px 0;
}

#politics-content-section .row {
    /* Sobrepondo a variável de padding da classe .row que espaçava internamente as imagens */
    --bs-gutter-x: 0;
}

#politics-content-section .container {
    /* Espaçamento entre as duas áreas de imagem e texto de 100px */
    row-gap: 100px;
}

#politics-content-section h2 {
    /* Font size e cor do título de introdução aos textos do conteúdo do Serviços */
    font-size: 28px;
    color: var(--vermelho-geral);
}

#politics-content-section p {
    /* Font size e justificando o parágrafo do conteúdo do Serviços */
    font-size: 16px;
    text-align: justify;

    /* Cor do parágrafo */
    color: var(--texto-primario);
}

#politics-content-section .politics-content-text-highlight {
    /* Destacando a frase selecionada com negrito e cor do texto primário do conteúdo do Serviços (parágrafos) */
    font-weight: 700;
    color: var(--texto-primario);
}

/* 
 * @media Sections - Services Content Section
*/

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    /* Diminuindo o padding interno top e bottom da seção de Conteúdo do Serviços */
    #politics-content-section {
        padding: 150px 0;
    }

    /* Centralizando o conteúdo e espaçando entre os itens da seção de Conteúdo do Serviços */
    #politics-content-section .row {
        justify-content: center !important;
        column-gap: 100px;
    }

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    /* Diminuindo o padding interno top e bottom e adicionando left e right da seção de Conteúdo do Serviços */
    #politics-content-section {
        padding: 100px 50px;
    }

    /* Diminuindo o gap entre os itens da seção de Conteúdo do Serviços */
    #politics-content-section .container {
        row-gap: 50px;
    }

    /* Inserindo uma margin bottom para o primeiro item de cada seção de Conteúdo do Serviços */
    #politics-content-section .politics-content-margin-bottom {
        margin-bottom: 50px;
    }

    /* Diminuindo a largura ocupada pela imagem para 80% da seção de Conteúdo do Serviços */
    #politics-content-section .img-fluid {
        width: 80%;
    }

    /* Mostrando o divider politics da seção de Conteúdo do Serviços */
    #politics-content-section .divider--politics {
        display: block;
    }

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Voltando a largura ocupada pela imagem para 100% da seção de Conteúdo do Serviços */
    #politics-content-section .img-fluid {
        width: 100%;
    }

}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Diminuindo o padding interno da seção de Conteúdo do Serviços */
    #politics-content-section {
        padding: 75px 25px;
    }

    /* Diminuindo a margin bottom para o primeiro item de cada seção de Conteúdo do Serviços */
    #politics-content-section .politics-content-margin-bottom {
        margin-bottom: 25px;
    }

    /* Diminuindo o font size do título de introdução aos textos do Conteúdo do Serviços  */
    #politics-content-section h2 {
        font-size: 24px;
    }

    /* Diminuindo o font size do parágrafo do Conteúdo do Serviços */
    #politics-content-section p {
        font-size: 14px;
    }

}

/* Custom @media */
@media (max-width: 399.98px) {
    /* Celular  */

    /* Diminuindo o padding interno da seção de Conteúdo do Serviços */
    #politics-content-section {
        padding: 50px 25px;
    }

    body{
        width: 380px !important;
    }

    #politics-banner-section h1 {
        font-size: 20px !important;
    }

    /* Diminuindo o gap entre os itens da seção de Conteúdo do Serviços */
    #politics-content-section .container {
        row-gap: 25px;
    }

}
